.bg_survey {
    background-color: #7E202C;
    border-color: #7E202C;
}
.text_survey {
    color: #7E202C;
}
.bg-survey {
    background-color: #7E202C;
    border-color: #7E202C;
    color: #ffffff;
}
.bg-survey:hover{
    background-color: #982232;
    color: white;
}
.text-survey {
    color: #7E202C;
}

.bg-activate {
    background-color: #187918;
    border-color: #187918;
    color: #ffffff;
}
.bg-activate:hover{
    background-color: #1b8f1b;
    color: white;
}